<aside id="side-drawer">
        <header>
                <a href="#" class="menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                </a>
        </header>

        <nav>
                <ul>
                        <li>
                                <a href="/index">home</a>
                        </li>

                        <li>
                                <a href="/projects">projects</a>
                        </li>

                        <li>
                                <a href="/about">about</a>
                        </li>

                        <li>
                                <a href="/contacts">contacts</a>
                        </li>
                </ul>
        </nav>
</aside>