<!-- <footer>
        <ul>
                <li>
                        <a href="https://twitter.com/not_yur_human" target="_blank">
                                <img src="/images/twitter.png" alt="telegram">
                        </a>
                </li>
                
                <li>
                        <a href=" https://wa.me/233599262808" target="_blank">
                                <img src="/images/whatsapp.png" alt="telegram">
                        </a>
                </li>
        </ul>
         
        
        <p>&copy; barimah corp.</p>
 </footer> -->