@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,300;100,300;100,400;100,700&family=Megrim&family=Roboto:wght@100;300;500&family=Rubik+Glitch&display=swap');
body{
        margin: auto;
        padding: 0px;
        height: auto;
        background-image: linear-gradient(to right top, #4a5c85, #526691, #59719d, #617baa, #6986b6, #6789c0, #658dcb, #6390d5, #558ce0, #4688ea, #3484f4, #1d7ffd);}


.menu-btn{
        width: 2rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        display: none;
}


.menu-btn span{
        width: 100%;
        height: 3px;
        background-color: whitesmoke;
}

/* side drawer styling */


#side-drawer{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right top, #4a5c85, #526691, #59719d, #617baa, #6986b6, #6789c0, #658dcb, #6390d5, #558ce0, #4688ea, #3484f4, #1d7ffd);        position: fixed;
        top: 0;
        left: 0;
        display: none;
}

#side-drawer:target{
        display: block;
}

#side-drawer header{        
        height: 5.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
}
#side-drawer ul{
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 2rem 1rem;
}

#side-drawer li{ 
        margin: 1rem 0;
}

#side-drawer a{
        color: white;
        font-size: 2rem;
        font-family: 'Fredoka';
        text-decoration: none;
}

#side-drawer a:hover{
        color: #ffffffd5;
        font-size: 2rem;
        font-family: 'Fredoka';
        text-decoration: none;
}


header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #412728; */
        background-color: rgb(1, 12, 19);
}
header h1 a{
        font-family: 'Rubik Glitch';
}

footer a, header a{
        color: #e7eeff;
        text-decoration: none;
        margin: 20px;
}

a:hover{
        color: #f5f8ff;
}

header ul{
        list-style: none;
        padding: 0px;
        display: flex;
        margin:1px;
        justify-content: space-between;
}

header ul a{
        padding-left: 40px;
        font-family: 'Fredoka';
        width: 75;
        font-weight: 300;
}


footer{
        background-color: #010c13;
}
footer ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
}

footer p{
        color: #ffffff;
        text-align: center;
        font-family: 'Fredoka';
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 300;
}

footer img{
        width: 50px;
        margin-top:20px;
        background-color:  #ffffff;
        border-radius: 24px;
}

footer ul img:hover{
        background-color: #ffffffd5;
        border-width: 5px;
}



@media(max-width: 1207px){
        body{
                height: inherit;
        }
        #projects-catalog ul{
                grid-template-columns: 100%;
        }

        /* main h1{
                font-size: 1.5rem;
        } */

        #main-header nav a{
                display: none;
        }
        
        
}

@media(max-width: 1024px){
        header ul li{
                display: none;
        }
        .menu-btn{
                display: flex;       
        }
}

@media(max-width: 710px){
        /* main ul img{
                width: 12rem;
                height: 12rem;
                object-fit: cover;
        } */

        /* .actions a{
                font-size: 0.85rem;
        } */

        /* main h2{
                font-size:1rem;
        } */
        main p{
                font-size: 1rem;
        }
}

/* @media(max-width: 530px){
        main div h1{
                font-size: 2.125rem;

        }
        
        
        main ul img{
                width: 10rem;
                height: 10rem;
                object-fit: cover;
        }

        .actions a{
                font-size: 0.75rem;
        }

        main h2{
                font-size:0.751rem;
        }
        main p{
                font-size: 1rem;
        }
} */

@media(max-width: 480px){
        /* main div h1{
                font-size: 1.125rem;

        }

        main ul img{
                display: none;
        }

        .actions a{
                font-size: 1rem;
        }

        main h2{
                font-size:0.658rem;
        } */
        /* main p{
                font-size: 1rem;
        } */
        .menu-btn{
                display: flex;       
        }
}
