<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>  <!--include head -->
        <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
        <%- include('includes/header') %>  <!--include header -->
        <%- include('includes/aside') %>  <!--include aside -->

        <main>
                <h2>about us</h2>
                <div>
                        <p>barimah is an initiative concerened with bringing more order and less human effort in the daily human activities</p>
                        <p>check out some of our <a href="/projects">projects</a> </p>
                </div>
        </main>
        
        <%- include('includes/footer') %>  <!--include footer -->
</body>
</html>