<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>  <!--include head -->
        <link rel="stylesheet" href="/styles/contacts.css">
</head>
<body>
        <%- include('includes/header') %>  <!--include header -->
         <%- include('includes/aside') %>  <!--include aside -->

        <main>
                <div>
                        <h1>contact us</h1>
                </div>

                <form action="mailto: mr.barrysilas@outlook.com" method="post" name="barimah_user_message" enctype="multipart/form-data">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name" required>
                        
                        <label for="email">email</label>
                        <input type="email" name="email" id="email" required>
                        
                        <label for="message">message</label>
                        <textarea id="message" name="message" placeholder="What would you like us to know"></textarea>
        
                        <button>Submit</button>
                </form>
        </main>

        <%- include('includes/footer') %>  <!--include footer -->
</body>
</html>