<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include('includes/head') %> <!-- include head -->
                <link rel="stylesheet" href="/styles/style.css">

        </head>
        
<body>
        <%- include('includes/header') %> <!-- include header -->
        <%- include('includes/aside') %> <!-- include aside -->
         
        <main>
                <section id="welcome">
                        <!-- <h1>Hello!</h1> -->
                        <p>this is <em><a href="/">barimah</a></em></p><br>
                        <p id="academia">studying <strong>Biomedical Engineering</strong> from <a href="">ug</a></p>
                </section>

                <section>
                        <p id="me">I'm also a <strong>:</strong></p>
                        <ul>
                                <li id="web">
                                        <strong>professional</strong> 
                                        web designer
                                </li>

                                <li id="dev">mobile and desktop app developer</li>

                                <li id="media">Movie and music producer</li>

                                <li id="dancer">and quite a good dancer</li>
                        </ul>
                        <div id="projects">
                                <p>
                                        Check out some of my 
                                        <a href="/projects">projects</a>
                                </p>
                        </div>
                </section>
         </main>

         <%- include('includes/footer') %> <!-- include footer -->
</body>
</html>
