<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/views/styles/style.css">
        <link rel="stylesheet" href="/views/styles/shared.css">
        <script src="app.js"></script>
        <!-- <script src="app.js"></script> -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="60">
        <link rel="shortcut icon" href="/views/images/favicon.ico" type="image/x-icon">
        <title>barimah</title>
</head>
<body>
         <header>
                <h1>
                        <a href="/views/index.html">barimah</a>
                </h1>
                <ul>
                        <li>
                                <a href="/views/index.html">home</a>
                        </li>

                        <li>
                                <a href="/views/projects.html">projects</a>
                        </li>

                        <li>
                                <a href="/views/about.html">about</a>
                        </li>

                        <li>
                                <a href="/views/contacts.html">contacts</a>
                        </li>
                </ul>

                <a href="#side-drawer" class="menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                </a>
         </header>
         <aside id="side-drawer">
                <header>
                        <a href="#" class="menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                        </a>
                </header>

                <nav>
                        <ul>
                                <li>
                                        <a href="/views/index.html">home</a>
                                </li>

                                <li>
                                        <a href="/views/projects.html">projects</a>
                                </li>

                                <li>
                                        <a href="/views/about.html">about</a>
                                </li>

                                <li>
                                        <a href="/views/contacts.html">contacts</a>
                                </li>
                        </ul>
                </nav>
        </aside>
         
        <main>
                <section id="welcome">
                        <!-- <h1>Hello!</h1> -->
                        <p>this is <em><a href="">barimah</a></em></p><br>
                        <p id="academia">studying <strong>Biomedical Engineering</strong> from <a href="">ug</a></p>
                </section>

                <section>
                        <p id="me">I'm also a <strong>:</strong></p>
                        <ul>
                                <li id="web">
                                        <strong>professional</strong> 
                                        web designer
                                </li>

                                <li id="dev">mobile and desktop app developer</li>

                                <li id="media">Movie and music producer</li>

                                <li id="dancer">and quite a good dancer</li>
                        </ul>
                        <div id="projects">
                                <p>
                                        Check out some of my 
                                        <a href="/views/projects.html">projects</a>
                                </p>
                        </div>
                </section>
         </main>

         <footer>
                <ul>
                        <li>
                                <a href="https://twitter.com/not_yur_human">
                                        <img src="/views/images/twitter.png" alt="telegram">
                                </a>
                        </li>
                        
                        <li>
                                <a href="">
                                        <img src="/views/images/whatsapp.png" alt="telegram">
                                </a>
                        </li>
                </ul>
                 
                
                <p>&copy; barimah corp.</p>
         </footer>
</body>
</html>
