
header h1 a{
        font-family: 'Averia Serif Libre';
}

h2{
        font-size: 4rem;
        text-align: center;
        color: #4A5C85;
}

main p{
        color: #e1ebff;
        font-size: 1.75rem;
        text-align: center;
        justify-content: center;
}

div{
        margin: 0 20%;
        margin-bottom: 10%;
        /* height: 20rem; */
        padding: 8rem 5rem;
        background-color: #4A5C85;
        border-radius: 6px;
        box-shadow: 2px 4px 8px #333333c9;
}

main a{
        /* padding: 2px 6px; */
        text-decoration: none;
        /* border: 2px solid rgb(207, 207, 245); */
        border-radius: 6px;
        padding: 5px;
        border: 2px solid #e1ebff; 
        color: #e1ebff;
}

main a:hover, main a:active{
        color: #4A5C85;
        background-color: #e1ebff;
        transition: 0.8s;
}



@media(max-width: 750px){
        
        h2{
                font-size: 3rem;
                text-align: center;
                color: #4A5C85;
        }

        p{
                color: #4A5C85;
                font-size: 1rem;
                text-align: center;
        }
        div{
                margin: 7rem;
                padding: 2rem 3rem;
                background-color: #4A5C85;
                border-radius: 6px;
        }
 
        main a{
                /* padding: 2px 6px; */
                text-decoration: none;
                /* border: 2px solid rgb(207, 207, 245); */
                border-radius: 6px;
                padding: 5px;
                border: 2px solid #e1ebff; 
                color: #e1ebff;
        }
        
        main a:hover, main a:active{
                color: #4A5C85;
                background-color: #e1ebff;
                transition: 0.8s;
        }
        

}

@media(max-width: 710px){
        
        h2{
                font-size: 2rem;
                text-align: center;
                color: #4A5C85;
        }

        p{
                color: #4A5C85;
                font-size: 0.75rem;
                text-align: center;
        }
        
        div{
                margin: 0 20%;
                margin-bottom: 10%;
                height: 20rem;
                padding: 8rem 5rem;
                background-color: #4A5C85;
                border-radius: 6px;
                box-shadow: 2px 4px 8px #333333c9;
        }

        main a{
                /* padding: 2px 6px; */
                text-decoration: none;
                /* border: 2px solid rgb(207, 207, 245); */
                border-radius: 6px;
                padding: 5px;
                border: 2px solid #e1ebff; 
                color: #e1ebff;
        }
        
        main a:hover, main a:active{
                color: #4A5C85;
                background-color: #e1ebff;
                transition: 0.8s;
        }
}

@media(max-width: 600px){
        
        h2{
                font-size: 3rem;
                text-align: center;
                color: #4A5C85;
        }

        /* div{
                margin: 0rem;
                padding: 3rem 2rem;
                background-color: #4A5C85;
        } */
        div{
                margin: 0 20%;
                margin-bottom: 10%;
                height: 20rem; 
                padding: 8rem 5rem;
                background-color: #4A5C85;
                border-radius: 6px;
                box-shadow: 2px 4px 8px #333333c9;
        }

        p{
                color: #4A5C85;
                font-size: 0.5rem;
                text-align: center;
        }

        main a{
                /* padding: 2px 6px; */
                text-decoration: none;
                /* border: 2px solid rgb(207, 207, 245); */
                border-radius: 6px;
                padding: 5px;
                border: 2px solid #e1ebff; 
                color: #e1ebff;
        }
        
        main a:hover, main a:active{
                color: #4A5C85;
                background-color: #e1ebff;
                transition: 0.8s;
        }
        

}

/* @media(max-width: 530px){
        main div h1{
                font-size: 2.125rem;

        }
        
        
        main ul img{
                width: 10rem;
                height: 10rem;
                object-fit: cover;
        }

        .actions a{
                font-size: 0.75rem;
        }

        main h2{
                font-size:0.751rem;
        }
        main p{
                font-size: 1rem;
        }
} */

@media(max-width: 480px){
        
        h2{
                font-size: 2rem;
                text-align: center;
                color: #4A5C85;
        }

        div{
                margin: 1rem ;
                padding: 2rem;
                background-color: #4A5C85;
                border-radius: 6px;
        }

        div{
                margin: 5% 20%;
                margin-bottom: 10%;
                /* height: 20rem; */
                padding: 8rem 5rem;
                background-color: #4A5C85;
                border-radius: 6px;
                box-shadow: 2px 4px 8px #333333c9;
        }

        p{
                color: #4A5C85;
                font-size: 0.23rem;
                text-align: center;
        }

        /* main a{
                /* padding: 2px 6px; */
                /* text-decoration: underline; */
                /* border: 2px solid rgb(207, 207, 245); 
                border-radius: 6px; 
                color: #507bdd;
        } */



        /* main div h1{
                font-size: 1.125rem;

        }

        main ul img{
                display: none;
        }

        .actions a{
                font-size: 1rem;
        }

        main h2{
                font-size:0.658rem;
        } */
        /* main p{
                font-size: 1rem;
        } */

}

