@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,300;100,300;100,400&family=Megrim&family=Roboto:wght@100;300;500&family=Rubik+Glitch&display=swap');

body{
        padding: auto;
}
main{
        font-family: 'Fredoka';
        /* display: flex; */
        /* justify-content: center; */
        padding: auto; 
        align-items: center;
        margin: 5px 60px;
}

main div h1{
        font-size: 3.125rem;
        text-align: center;
        color: whitesmoke;
}

/* main ul{
        width: 1200px;
        list-style: none;
        display: grid;
        justify-content: space-between; 
        grid-template-columns: 1fr 1fr;
        gap: 50px 50px;
} */

main ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
}

main ul img{
        width: 20rem;
        height: 15rem;
        object-fit: cover;
}
main li{
        display: flex;
        background: whitesmoke;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.658);
        border-radius: 6px;
        overflow: hidden;
        margin: 0rem;
}

main h2{
        font-weight: 400;
}

main p{
        font-size: 0.85rem;
}
/* 
.menu-btn{
        width: 2rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        display: none;
}


.menu-btn span{
        width: 100%;
        height: 3px;
        background-color: whitesmoke;
}

side drawer styling 


#side-drawer{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right top, #151515, #1619cc,#2a2f39, #010c13, #03131d);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
}

#side-drawer:target{
        display: block;
}

#side-drawer header{        
        height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5%;
}
#side-drawer ul{
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 4rem 1rem;
}

#side-drawer li{ 
        margin: 1rem 0;
}

#side-drawer a{
        color: white;
        font-size: 2rem;
        font-family: 'Fredoka';
        text-decoration: none;
}

#side-drawer a:hover{
        color: #ffffffd5;
        font-size: 2rem;
        font-family: 'Fredoka';
        text-decoration: none;
} */

.itemContent{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

}

.actions{
        text-align: right;
}
.actions a{
        text-decoration: none;
        color: blue;
        padding: 0.375rem;
        border-radius: 0.375rem;
}

.actions a:hover{
        background-color: rgba(0, 0, 255, 0.048);
}


@media(max-width: 1207px){
        main h1{
                font-size: 1.5rem;
        }
}

@media(max-width: 710px){
        main ul img{
                width: 12rem;
                height: 12rem;
                object-fit: cover;
        }

        .actions a{
                font-size: 0.85rem;
        }

        main h2{
                font-size:1rem;
        }
        main p{
                font-size: 0.75rem;
        }
}

@media(max-width: 530px){
        main div h1{
                font-size: 2.125rem;

        }
        
        
        main ul img{
                width: 10rem;
                height: 10rem;
                object-fit: cover;
        }

        .actions a{
                font-size: 0.75rem;
        }

        main h2{
                font-size:0.751rem;
        }
        main p{
                font-size: 0.55rem;
        }
}

@media(max-width: 480px){
        main div h1{
                font-size: 1.125rem;

        }

        main ul img{
                display: none;
        }

        .actions a{
                font-size: 1rem;
        }

        main h2{
                font-size:0.658rem;
        }
        main p{
                font-size: 0.559rem;
        }
}